<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- lik para estilo con bootstrap -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!-- lik para estilo con css-->
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login - CRUD App</title>
</head>
<body>
    



    <div class="contenedor">
        <div class="top-img"></div>
        <form class="col-lg-4 col-md-7 col-sm-8 col-10 shadow bg-white p-5 text-center">
            <h1 class="mb-5">Login</h1>
            <input type="text" class="form-control my-4 rounded-0" placeholder="Ingrear su correo">
            <input type="password" class="form-control rounded-0" placeholder="Ingrear su contraseña">
            <button type="submit" class="btn text-white text-uppercase rounded-0 mt-5 mb-4 w-100">Ingresar</button>
            <a href="#" class="btn-enlace">Registrarse</a>
        </form>
    </div>

    
    <!-- lik de js de bootstrap -->
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script> 

    <!-- link de logica de API con javascript -->
     <script type="module" src="../assets/js/login.js"></script>

</body>
</html>